.TipView {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.TipView_content {
  width: 95%;
  max-width: 650px;

  --linking-size: clamp(3px, .5vw, 5px);
  --linking-color: var(--brand-color-dark);
  --comment-spacing: 5px;
}

.TipView_content > div.Tip {
  border-bottom: var(--linking-size) solid var(--linking-color);
  margin-bottom: var(--comment-spacing);
}

.TipView_TipList__vars {
  --TipList-linking-size: var(--linking-size) !important;
  --TipList-linking-color: var(--linking-color) !important;
  --TipList-comment-spacing: var(--comment-spacing) !important;
}
