/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

/* RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
  /* VARIABLES */

  /* Fonts */
  --primary-font: 'Montserrat', sans-serif;
  --secondary-font: 'Roboto', sans-serif;
 
  /* Colors */
  --brand-color-hue: 260;

  --brand-color-lightest: hsl(var(--brand-color-hue), 50%, 80%);
  --brand-color-lighter: hsl(var(--brand-color-hue), 50%, 70%);
  --brand-color-light: hsl(var(--brand-color-hue), 50%, 60%);
  --brand-color: hsl(var(--brand-color-hue), 50%, 50%);
  --brand-color-dark: hsl(var(--brand-color-hue), 50%, 40%);
  --brand-color-darker: hsl(var(--brand-color-hue), 50%, 30%);
  --brand-color-darkest: hsl(var(--brand-color-hue), 50%, 20%);

  --comment-color: var(--brand-color-light);
  --dislike-color: hsl(0, 50%, 50%);
  --like-color: hsl(150, 50%, 50%);

  --error-color: hsl(10, 60%, 50%);
  --success-color: hsl(140, 60%, 50%);

  /* COLOR SCHEME */
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root, :root.light {
  --primary-color-opacity-full: hsl(0, 0%, 100%);
  --primary-color-opacity-high: hsl(0, 0%, 85%);
  --primary-color-opacity-medium: hsl(0, 0%, 70%);
  --primary-color-opacity-low: hsl(0, 0%, 55%);
  --secondary-color-opacity-full: hsl(0, 0%, 0%);
  --secondary-color-opacity-high: hsl(0, 0%, 15%);
  --secondary-color-opacity-medium: hsl(0, 0%, 30%);
  --secondary-color-opacity-low: hsl(0, 0%, 45%);

  --Tip_background-color: var(--primary-color-opacity-high);
  --Comment_background-color: var(--primary-color-opacity-medium);
}

@media (prefers-color-scheme: dark) {
  :root {
  --primary-color-opacity-full: hsl(0, 0%, 0%);
  --primary-color-opacity-high: hsl(0, 0%, 15%);
  --primary-color-opacity-medium: hsl(0, 0%, 30%);
  --primary-color-opacity-low: hsl(0, 0%, 45%);
  --secondary-color-opacity-full: hsl(0, 0%, 100%);
  --secondary-color-opacity-high: hsl(0, 0%, 85%);
  --secondary-color-opacity-medium: hsl(0, 0%, 70%);
  --secondary-color-opacity-low: hsl(0, 0%, 55%);

  --Tip_background-color: var(--primary-color-opacity-high);
  --Comment_background-color: var(--primary-color-opacity-medium);
  }
}

:root.dark {
  --primary-color-opacity-full: hsl(0, 0%, 0%);
  --primary-color-opacity-high: hsl(0, 0%, 15%);
  --primary-color-opacity-medium: hsl(0, 0%, 30%);
  --primary-color-opacity-low: hsl(0, 0%, 45%);
  --secondary-color-opacity-full: hsl(0, 0%, 100%);
  --secondary-color-opacity-high: hsl(0, 0%, 85%);
  --secondary-color-opacity-medium: hsl(0, 0%, 70%);
  --secondary-color-opacity-low: hsl(0, 0%, 55%);

  --Tip_background-color: var(--primary-color-opacity-high);
  --Comment_background-color: var(--primary-color-opacity-medium);
}

body {
  font-family: var(--primary-font);
  font-weight: 400;

  background-color: var(--primary-color-opacity-full);
  color: var(--secondary-color-opacity-full);

  transition: background-color .25s, color .25s;
}
