.SwitchThemeWidget {
  height: min-content;
  width: max-content;

  font-size: 1em;
  font-weight: 500;
  padding: .2em;
  font-family: var(--primary-font);
  color: var(--secondary-color-opacity-full);

  background-color: var(--primary-color-opacity-medium);
  
  border: 0;

  cursor: pointer;
  user-select: none;
}

.SwitchThemeWidget:focus {
  outline: 0;
}
