.Tip._is_comment {
  position: relative;
  width: 100%;
  margin-left: auto;
  
  box-sizing: border-box;
  background-color: var(--Comment_background-color);

  border-left: var(--pseudo-size) solid var(--pseudo-background-color);
}

.Tip._is_comment::after {
  content: "";
  position: absolute;

  width: calc(5% - var(--pseudo-size));
  height: var(--pseudo-size);

  top: calc(50% - var(--pseudo-size));
  left: -5%;

  background-color: var(--pseudo-background-color);
}
