/* Component Container */
.Tip {
  --Tip_border-radius: 9px;
  --Tip_margin: 10px;
  --Tip_background-color: var(--primary-color-light);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;

  width: 100%;

  font-family: var(--primary-font);

  font-size: clamp(.8rem, 4vw, 1.4rem);

  border-radius: var(--Tip_border-radius);

  box-sizing: border-box;
  background-color: var(--Tip_background-color);

  color: var(--brand-color-lightest);

  padding: 5px 0 0 0;
}

/* Tip Client Info */
.Tip__Client_info {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Tip__Client_info b {
  margin: 0 5px;
  font-weight: bold;
  font-size: 1em;
}

.Tip__Client_info > small {
  font-size: .7em;
  opacity: .9;
}

.Tip__Client_info .Tip__Client_fullname { 
  font-weight: bold;
  margin-left: var(--Tip_margin);
}

.Tip__Client_info .Tip__Client_nickname {
  cursor: pointer;
  max-width: 20ch;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.Tip__Client_info .Tip__Client_created {
  text-transform: lowercase;
  margin-left: auto;
  margin-right: var(--Tip_margin);
}

/* Tip Content */
.Tip__Content {
  width: 95%;
  align-self: center;
  overflow-wrap: break-word;
  word-break: break-all;
}

/* Tip Interactions */
.Tip__Interaction input { display: none; }

.Tip__Interaction {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.Tip__Interaction > div {
  flex: 0 0 15%;
  max-width: 100px;
  display: grid;
  place-items: center;
}

.Tip__Interaction > div > label {
  height: 100%;
  aspect-ratio: 1;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 1px;
}

.Tip__Interaction > .Interaction_like > label.Interaction--selected { color: var(--like-color); }
.Tip__Interaction > .Interaction_dislike > label.Interaction--selected { color: var(--dislike-color); }
.Tip__Interaction > .Interaction_comment > label.Interaction--selected { color: var(--comment-color); }

.Tip__Interaction > div > label > b {
  font-family: monospace;
  font-weight: bold;
}

.Tip__Interaction > .Interaction_comment > label > b {
  bottom: 2px;
}
