/* Component Container */
.Tip {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;

  width: 100%;

  font-family: var(--primary-font);

  font-size: clamp(.8rem, 4vw, 1.4rem);

  border-radius: 9px;

  box-sizing: border-box;
  background-color: var(--primary-color-light);

  color: var(--brand-color-lightest);

  padding: 5px 0;
}

/* Tip Client Info */
.Tip__Client_info {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  --Tip__Client_info_spacing: 10px;
}

.Tip__Client_info b {
  margin: 0 5px;
  font-weight: bold;
  font-size: 1em;
}

.Tip__Client_info > small {
  font-size: .7em;
  opacity: .9;
}

.Tip__Client_info .Tip__Client_fullname { 
  font-weight: bold;
  margin-left: var(--Tip__Client_info_spacing);
}

.Tip__Client_info .Tip__Client_nickname {
  cursor: pointer;
  max-width: 10ch;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.Tip__Client_info .Tip__Client_created {
  text-transform: lowercase;
  margin-left: auto;
  margin-right: var(--Tip__Client_info_spacing);
}

/* Tip Content */
.Tip__Content {
  width: 95%;
  align-self: center;
  overflow-wrap: break-word;
  word-break: break-all;
}

/* Tip Created */
.Tip__Created {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0 5px 0;
}


/* Tip Interactions */
.Tip__Interaction {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 95%;
  height: 100%;

  --Tip__Interaction_spacing: 30px;
}

.Interaction_like {
  color: var(--like-color); 
  margin: 0 0 0 var(--Tip__Interaction_spacing);
}
.Interaction_dislike {
  color: var(--dislike-color); 
  margin: 0 auto 0 var(--Tip__Interaction_spacing);
}
.Interaction_comment {
  color: var(--comment-color); 
  margin: 0 var(--Tip__Interaction_spacing) 0 auto;
}
