body { background-color: var(--primary-color); }

.App {
  min-height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

.Tips_container {
  justify-self: end;
  width: 100vw; /* for mobiles it takes 100vw, cuz the navbar is at the bottom of the page*/
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* max-width: calc(var(--small-mobile-width) - 40px); */
}

@media screen and (min-width: 1024px) {
  .Tips_container {
    width: 80vw;
  }
}

