.LogIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  padding: 10px;

  border: 1px solid var(--secondary-color-opacity-full);
  border-radius: 9px;

  font-size: clamp(.85rem, 4vw, 1rem);
  background-color: var(--primary-color-opacity-high);
}

.LogIn__create_button {
  font-size: 1em;
  font-family: var(--primary-font);
  padding: .2em .4em;

  color: white;
  background-color: var(--brand-color-darker);

  border: 0;
  border-radius: 999px;

  cursor: pointer;
}

.LogIn__create_button:focus {
  outline: 2px solid currentColor;
  outline-offset: 4px;
}
