.AccessView {
  width: max-content;
  height: max-content;
  display: grid;
  place-items: center;
  row-gap: 10px;
  column-gap: 10px;

  grid-template-rows: 1fr min-content;
}

.AccessView form {
  width: min-content;
  height: min-content;
}

.AccessView__switch_mode_bt span {
  font-family: var(--primary-font);
  color: var(--secondary-color-opacity-high);
  cursor: pointer;
}

.AccessView__switch_mode_bt span strong {
  color: var(--brand-color-darker);
}

.AccessView__switch_mode_bt input { display: none; }
