.AccessView {
  width: 90vw;
  max-width: 450px;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.AccessView form {
  width: 100%;
  height: min-content;
}

.AccessView__switch_mode_bt span {
  font-size: 1.2em;
  font-family: var(--primary-font);
  color: var(--secondary-color-opacity-full);
}

.AccessView__switch_mode_bt span strong {
  font-family: var(--primary-font);
  font-size: 1em;

  color: var(--brand-color-darker);

  cursor: pointer;
}


.LogIn__create_button:focus {
  outline: 2px solid currentColor;
  outline-offset: 4px;
}
.AccessView__switch_mode_bt input { display: none; }
