.WidgetsDrawer {
  position: relative;

  display: grid;

  color: var(--secondary-color-opacity-full);
  font-family: var(--primary-font);
  font-size: clamp(.9em, 4vw, 1em);
}

.WidgetsDrawer_bt {
  padding: .4em 1em;
  border-radius: 99px;

  border: 2px solid var(--secondary-color-opacity-full);
  background-color: var(--primary-color-opacity-high);
  box-shadow: inset 0 0 2px 1px var(--primary-color-opacity-full);

  cursor: pointer;
  user-select: none;
}

.WidgetsDrawer_content {
  --WidgetsDrawer_content-border-radius: 9px;
  --WidgetsDrawer_content-border-width: 2px;
  --WidgetsDrawer_content_inner_element-border-radius: calc(var(--WidgetsDrawer_content-border-radius) - var(--WidgetsDrawer_content-border-width)); 

  position: absolute;
  bottom: calc(100% + 5px);
  left: 0;

  width: 50vw;
  max-width: 300px;
  aspect-ratio: 1;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min-content, 1fr));
  grid-gap: 5px;
  
  margin-bottom: 5px;

  border: var(--WidgetsDrawer_content-border-width) solid var(--secondary-color-opacity-full);
  border-radius: var(--WidgetsDrawer_content-border-radius);
  padding: 5px;

  box-sizing: border-box;

  background-color: var(--primary-color-opacity-high);
  box-shadow: inset 0 0 2px 1px var(--primary-color-opacity-full);
}

input#WidgetsDrawer_bt,
.WidgetsDrawer_content { display: none; }

input#WidgetsDrawer_bt:checked +
.WidgetsDrawer_bt +
.WidgetsDrawer_content { display: grid; }

.WidgetsDrawer_SwitchTheme {
  position: relative;

  grid-column: 1 / 3;
  grid-row: 1 / 2;

  font-size: 1em;

  width: 4em !important;
}

:root.dark .WidgetsDrawer_SwitchTheme {
  left: 0;
  transition: left 0.25s ease-out;
}

:root.light .WidgetsDrawer_SwitchTheme {
  left: calc(100% - 4em);
  transition: left 0.25s ease-in;
}

.WidgetsDrawer_SwitchTheme,
.WidgetsDrawer_AddTip,
.WidgetsDrawer_AddTip_form,
.WidgetsDrawer_Explore,
.WidgetsDrawer_Profile,
.WidgetsDrawer_Setting {
  border-radius: var(--WidgetsDrawer_content_inner_element-border-radius);
}

.WidgetsDrawer_AddTip,
.WidgetsDrawer_AddTip_form,
.WidgetsDrawer_Explore,
.WidgetsDrawer_Profile,
.WidgetsDrawer_Setting {
  max-width: 100%;
  aspect-ratio: 1;
}

.WidgetsDrawer_AddTip,
.WidgetsDrawer_Explore,
.WidgetsDrawer_Profile,
.WidgetsDrawer_Setting {
  background-color: var(--primary-color-opacity-medium);
}

.WidgetsDrawer_AddTip {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.WidgetsDrawer_Explore {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.WidgetsDrawer_Profile {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.WidgetsDrawer_Setting {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.WidgetsDrawer_AddTip_form {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}
